# Dependencies
node_modules/

# Environment variables
.env
frontend/.env
backend/.env

# Build folders
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/