*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
}

.app{
  min-height:100vh;

  background:
  linear-gradient(
  rgba(0,0,0,.25),
  rgba(0,0,0,.25)
  ),
  url("https://images.unsplash.com/photo-1500375592092-40eb2168fd21");

  background-size:cover;
  background-position:center;
}

.overlay{
  min-height:100vh;

  display:flex;
  flex-direction:column;
  align-items:center;

  padding:30px;
}

.search-bar{
  width:100%;
  max-width:550px;

  display:flex;
  gap:10px;
}

.search-bar input{
  flex:1;

  padding:15px 20px;

  border:none;
  outline:none;

  border-radius:20px;

  background:
  rgba(255,255,255,.2);

  backdrop-filter:blur(20px);

  color:white;
}

.search-bar input::placeholder{
  color:white;
}

.search-bar button{
  width:60px;
  height:60px;

  border:none;

  border-radius:50%;

  background:white;

  cursor:pointer;

  font-size:22px;
}

.welcome-section{
  margin-top:120px;

  text-align:center;

  color:white;
}

.welcome-section h1{
  font-size:60px;
  margin-bottom:20px;
}

.welcome-section p{
  font-size:20px;
}

.welcome-card{
  margin-top:40px;

  padding:30px;

  border-radius:25px;

  background:
  rgba(255,255,255,.15);

  backdrop-filter:blur(20px);

  width:350px;
}

.welcome-card ul{
  list-style:none;
  margin-top:15px;
}

.welcome-card li{
  padding:10px 0;
}

.hero-section{
  text-align:center;
  color:white;

  margin-top:30px;
}

.weather-icon{
  width:140px;
}

.temp{
  font-size:110px;
  font-weight:300;
}

.city{
  font-size:40px;
}

.condition{
  text-transform:capitalize;
}

.details-card{
  width:100%;
  max-width:800px;

  display:grid;

  grid-template-columns:
  repeat(2,1fr);

  gap:20px;

  margin-top:30px;
}

.detail{
  padding:25px;

  border-radius:25px;

  background:
  rgba(255,255,255,.15);

  backdrop-filter:blur(20px);

  color:white;

  text-align:center;
}

.detail-icon{
  font-size:40px;
}

.sun-card{
  width:100%;
  max-width:800px;

  margin-top:20px;

  display:flex;
  justify-content:space-around;

  padding:25px;

  border-radius:25px;

  background:
  rgba(255,255,255,.15);

  backdrop-filter:blur(20px);

  color:white;
}